nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: $secondary-background-color;
  @include displayCenterFlex;
  gap: 40px;

  a {
    font-weight: 700;
  }
}

h1 {
  font-family: $secondary-family-font;
  font-size: $large-font-size;
  margin-bottom: 10px;

  span{
    font-family: $primary-family-font;
  }
}

h2 {
  padding: 40px;
  margin-top: 50px;
  text-align: left;
}

a {
  text-decoration: none;
  color: $primary-font-color;
  border-bottom: 2px solid transparent;
  transition: 200ms all ease-in-out;
}

a:hover {
  color: rgba($primary-font-color, 0.8);
  border-bottom: 2px solid rgba($primary-font-color, 0.8);
}

input {
  padding: 15px 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: $primary-font-size;
  width: min(80%, 720px);
  height: 60px;
  border: none;
  border-top: 2px solid $focus-font-color;
  border-bottom: 2px solid $focus-font-color;
  border-left: 2px solid $focus-font-color;
  background-color: white;

  &:focus {
    outline: none;  
    border-color: $focus-font-color;
    box-shadow: none;
  }
}

.searchIcon {
  border-right: 2px solid $focus-font-color;
  border-top: 2px solid $focus-font-color;
  border-bottom: 2px solid $focus-font-color;
  width: 80px;
  height: 60px;
  font-size: $primary-font-size;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding: 5px 20px 5px 0;
}



