@import './variables';
@import './mixins';
@import './base';

//components
@import './home';
@import './students';
@import './process';

.App {
  font-family: $primary-family-font;
  background-color: $primary-background-color;
  color: $primary-font-color;
  width: 100vw;
  height: 100vh;
  font-size: $primary-font-size;
  text-align: center;

  .home-container-link {
    @include displayCenterFlex;
    font-size: 30px;
  }
}

@media  screen and (max-width: 786px) {
  .App {
    font-size: $mobile-font-size;
  }
}